.margin {
  --margin: 0;
  margin: var(--margin);
}
.padding {
  --padding: 0;
  padding: var(--padding);
}
.border {
  --border: medium none currentcolor;
  border: var(--border);
}
.border-width {
  --border-width: 0;
  borderWidth: var(--border-width);
}
.border-style {
  --border-style: none;
  borderStyle: var(--border-style);
}
.display {
  --display: inline;
  display: var(--display);
}
.flex {
  --flex: 0 1 auto;
  flex: var(--flex);
}


@media screen and (min-width: 48rem) {
.margin {
  --t-margin: 0;
  margin: var(--t-margin);
}
.padding {
  --t-padding: 0;
  padding: var(--t-padding);
}
.border {
  --t-border: medium none currentcolor;
  border: var(--t-border);
}
.border-width {
  --t-border-width: 0;
  borderWidth: var(--t-border-width);
}
.border-style {
  --t-border-style: none;
  borderStyle: var(--t-border-style);
}
.display {
  --t-display: inline;
  display: var(--t-display);
}
.flex {
  --t-flex: 0 1 auto;
  flex: var(--t-flex);
}

}

@media screen and (min-width: 80rem) {
.margin {
  --d-margin: 0;
  margin: var(--d-margin);
}
.padding {
  --d-padding: 0;
  padding: var(--d-padding);
}
.border {
  --d-border: medium none currentcolor;
  border: var(--d-border);
}
.border-width {
  --d-border-width: 0;
  borderWidth: var(--d-border-width);
}
.border-style {
  --d-border-style: none;
  borderStyle: var(--d-border-style);
}
.display {
  --d-display: inline;
  display: var(--d-display);
}
.flex {
  --d-flex: 0 1 auto;
  flex: var(--d-flex);
}

}